<html>
    <head>
    	<meta charset="UTF-8"/>
    	<link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
	<div class="container">
		<H1>Welcome to Bookcase, <%= user.name %></H1>
		<hr/>
        <form action="/create" method="POST" enctype="multipart/form-data">
            Book Name: <input name="bookname"><br>
            Author: <input name="author"  /><br>
            <input type="file" name="filetoupload"><br>
            <input type="submit" value="create">  
        </form>
        </div>
    </body>
</html>
