<html>
    <head>
    	<meta charset="UTF-8"/>
    	<link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
	<div class="container">
    
		<H1>&#128218;Bookcase&#128218;</H1>
		<hr/>
        <b><%= message %></b>
        <p><a href="/">home</a></p>
    </div>
    </body>
</html>
