<html>
    <body>
        <head>
    	<meta charset="UTF-8"/>
    	<link rel="stylesheet" href="/css/style.css" />
    </head>
    
	<div class="container">
		<H1>Hello, welcome to &#128218;Bookcase&#128218;. </H1>
		<a href='/auth/facebook'>Login through facebook</a>
		</div>
    </body>
</html>
